<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-m-12">
        <div class="footer__inner">

          <div class="footer__head">
            <div class="row">
              {% include footer-widgets/widget-recent-posts.html %}
            </div>
          </div>
        </div>

        {% include social-link.html %}
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>. Alle rechten voorbehouden.<br />
        <strong>KvK-nummer:</strong> 87811049 <strong>BTW-nummer:</strong> NL004193110B30<br />
        <a href="/disclaimer">Disclaimer</a>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->