// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 15px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Typography
// *****************
$base-font-size: 1rem;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 2.125rem;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  2rem;
$font-size-h2:  1.75rem;
$font-size-h3:  1.5rem;
$font-size-h4:  1.25rem;
$font-size-h5:  1.125rem;
$font-size-h6:  1rem;

$heading-line-height: 1.3;